<h3 align="center">Doanh số/ngày</h3>
<div id="line" align="center"></div>
 <script>
         Ext.onReady(function() {
            Ext.create('Ext.chart.CartesianChart', {
               renderTo: 'line',
               width: 1000,
               height: 1500,
               
               store: {
                  fields: ['name', 'g1'],
                  data: [
                     {"name": "1", "g1": 200},
                     {"name": "2", "g1": 230},
                     {"name": "3", "g1": 250},
                     {"name": "4", "g1": 190},
                     {"name": "5", "g1": 150},
                      {"name": "6", "g1": 170},
                     {"name": "7", "g1": 120},
                     {"name": "8", "g1": 170},
                     {"name": "9", "g1": 230},
                     {"name": "10", "g1": 250},
                      {"name": "11", "g1": 300},
                     {"name": "12", "g1": 125},
                     {"name": "13", "g1": 180},
                     {"name": "14", "g1": 170},
                     {"name": "15", "g1": 160},
                      {"name": "16", "g1": 165},
                     {"name": "17", "g1": 210},
                     {"name": "18", "g1": 250},
                     {"name": "19", "g1": 120},
                     {"name": "20", "g1": 100},
                    {"name": "21", "g1": 90},
                     {"name": "22", "g1": 100},
                     {"name": "23", "g1": 110},
                     {"name": "24", "g1": 120},
                     {"name": "25", "g1": 130},
                     {"name": "26", "g1": 80},
                     {"name": "27", "g1": 70},
                     {"name": "28", "g1": 65},
                     {"name": "29", "g1": 70},
                     {"name": "30", "g1": 80}
                  ]
               },
               legend: {
                  docked: 'bottom'
               },

               //define x and y axis.
               axes: [{
                  type: 'numeric',
                  position: 'left'
               }, {
                  type: 'category',
                  visibleRange: [0, 1],
                  position: 'bottom'
               }],

               //define the actual series
               series: [{
                  type: 'line',
                  xField: 'name',
                  yField: 'g1',
                  title: 'Normal'
               }]
            });
         });
         
      </script>
