<h3 align="center">Doanh số/tháng</h3>
<div id="line" align="center"></div>
 <script>
         Ext.onReady(function() {
            Ext.create('Ext.chart.CartesianChart', {
               renderTo: 'line',
               width: 1000,
               height: 1500,
               
               store: {
                  fields: ['name', 'g1'],
                  data: [
                     {"name": "1", "g1": 1200},
                     {"name": "2", "g1": 1230},
                     {"name": "3", "g1": 1250},
                     {"name": "4", "g1": 1190},
                     {"name": "5", "g1": 1150},
                      {"name": "6", "g1": 1170},
                     {"name": "7", "g1": 1120},
                     {"name": "8", "g1": 1170},
                     {"name": "9", "g1": 1230},
                     {"name": "10", "g1": 1250},
                      {"name": "11", "g1": 1300},
                     {"name": "12", "g1": 1125}
                     
                  ]
               },
               legend: {
                  docked: 'bottom'
               },

               //define x and y axis.
               axes: [{
                  type: 'numeric',
                  position: 'left'
               }, {
                  type: 'category',
                  visibleRange: [0, 1],
                  position: 'bottom'
               }],

               //define the actual series
               series: [{
                  type: 'line',
                  xField: 'name',
                  yField: 'g1',
                  title: 'Normal'
               }]
            });
         });
         
      </script>
