
<div class="container" style="margin-top: 10px;">
    <div class="row">
        <div class="col-4"></div>
        <div class="col-4"><h2>QUẢN LÝ ĐƠN HÀNG</div>
    </div>
    <div class="row">
        <div class="col-1"></div>
        <div class="clo-8">
            <table border="2">
                <tr>
                    <th style="width: 100px;"><b>ID</b></th>
                    <th style="width: 200px;"><b>User</b></th>
                    <th style="width: 150px;"><b>Ngày Đặt</b></th>
                    <th style="width: 150px;"><b>Người nhận</b></th>                   
                    <th style="width: 150px;"><b>Địa chỉ</b></th>
                    <th style="width: 150px;"><b>Điện thoại</b></th>
                    <th style="width: 150px;"><b>Trạng thái</b></th>
                </tr>
                <tr>
                    <td>DH001</td>
                    <td>AvanNguyen</td>
                    <td>03/08/2019</td>
                    <td>Nguyễn Thị B</td>
                    <td>TP.HCM</td>
                    <td>0123457239</td>
                    <td><input type="checkbox"/> Đã giao hàng</td>
                </tr>
                <tr>
                    <td>DH002</td>
                    <td>ThanhTran</td>
                    <td>21/12/2019</td>
                    <td>Nguyễn Thị Dậu</td>
                    <td>TP.HCM</td>
                    <td>012345949</td>
                    <td><input type="checkbox" checked/> Đã giao hàng</td>
                </tr>
                <tr>
                    <td>DH003</td>
                    <td>ThanhTran</td>
                    <td>05/03/2019</td>
                    <td>Nguyễn Thị B</td>
                    <td>TP.HCM</td>
                    <td>0123457239</td>
                    <td><input type="checkbox"/> Đã giao hàng</td>
                </tr>
                <tr>
                    <td>DH004</td>
                    <td>AnhNguyet</td>
                    <td>21/04/2019</td>
                    <td>Nguyễn Thị B</td>
                    <td>TP.HCM</td>
                    <td>0109843239</td>
                    <td><input type="checkbox"/> Đã giao hàng</td>
                </tr>
                <tr>
                    <td>DH005</td>
                    <td>KHA123</td>
                    <td>10/08/2019</td>
                    <td>Trần Văn Nguyễn</td>
                    <td>TP.HCM</td>
                    <td>0123457239</td>
                    <td><input type="checkbox" checked/> Đã giao hàng</td>
                </tr>
                <tr>
                    <td>DH006</td>
                    <td>DungTran1997</td>
                    <td>03/08/2019</td>
                    <td>Lê Tuyết Mai</td>
                    <td>Hải Phòng</td>
                    <td>0103249239</td>
                    <td><input type="checkbox"/> Đã giao hàng</td>
                </tr>
                <tr>
                    <td>DH007</td>
                    <td>DungTran1997</td>
                    <td>01/11/2019</td>
                    <td>Đào Văn Bá</td>
                    <td>TP.HCM</td>
                    <td>012340039</td>
                    <td><input type="checkbox"/> Đã giao hàng</td>
                </tr>
                <tr>
                    <td>DH008</td>
                    <td>NVA</td>
                    <td>03/08/1993</td>
                    <td>Nguyễn Thị B</td>
                    <td>TP.HCM</td>
                    <td>0123457239</td>
                    <td><input type="checkbox" checked/> Đã giao hàng</td>
                </tr>
                <tr>
                    <td>DH009</td>
                    <td>NVA</td>
                    <td>03/08/1993</td>
                    <td>Nguyễn Thị B</td>
                    <td>TP.HCM</td>
                    <td>0123457239</td>
                    <td><input type="checkbox"/> Đã giao hàng</td>
                </tr>
                <tr>
                    <td>DH010</td>
                    <td>NVA</td>
                    <td>03/08/1993</td>
                    <td>Nguyễn Thị B</td>
                    <td>TP.HCM</td>
                    <td>0123457239</td>
                    <td><input type="checkbox" checked/> Đã giao hàng</td>
                </tr>            
                <tr>
                    <td>...</td>
                    <td>...</td>
                    <td>...</td>
                    <td>...</td>
                    <td>...</td>
                    <td>...</td>
                    <td>...</td>
                </tr>
            </table>
        </div>
    </div>
    <div class="row" style="margin-top: 30px;">
        <div class="col-4"></div>
        <div class="col-4">
            <a href="#"><button class="btn btn-success">Thêm đơn hàng</button></a>
            <a href="#"><button class="btn btn-success">xóa đơn hàng</button></a>
        </div>
    </div>
</div>