
<div class="container" style="margin-top: 10px;">
    <div class="row">
        <div class="col-4"></div>
        <div class="col-4"><h2>QUẢNG LÝ GIAN HÀNG</div>
    </div>
    <div class="row">
        <div class="col-4"></div>
        <div class="clo-4">
            <table border="2">
                <tr style="height: 30px;">
                    <th style="width: 100px;"><b>ID</th>
                    <th style="width: 200px;"><b>Gian Hàng</b></th>
                    <th></th>
                </tr>
                <tr style="height: 60px;">
                    <td>GH001</td>
                    <td><a href="QLSanPham"><button class="btn btn-success">Xem Gian hàng</button></a></td>
                    <td><input type="checkbox"/></td>
                </tr>
                <tr style="height: 60px;">
                    <td>GH002</td>
                    <td><a href="QLSanPham"><button class="btn btn-success">Xem Gian hàng</button></a></td>
                    <td><input type="checkbox"/></td>
                </tr>
                <tr style="height: 60px;">
                    <td>GH003</td>
                    <td><a href="QLSanPham"><button class="btn btn-success">Xem Gian hàng</button></a></td>
                    <td><input type="checkbox"/></td>
                </tr>
                <tr style="height: 60px;">
                    <td>GH004</td>
                    <td><a href="QLSanPham"><button class="btn btn-success">Xem Gian hàng</button></a></td>
                    <td><input type="checkbox"/></td>
                </tr>
                <tr style="height: 60px;">
                    <td>GH005</td>
                    <td><a href="QLSanPham"><button class="btn btn-success">Xem Gian hàng</button></a></td>
                    <td><input type="checkbox"/></td>
                </tr>
                <tr style="height: 60px;">
                    <td>GH006</td>
                    <td><a href="QLSanPham"><button class="btn btn-success">Xem Gian hàng</button></a></td>
                    <td><input type="checkbox"/></td>
                </tr>
            </table>
        </div>
    </div>
    <div class="row" style="margin-top: 30px;">
        <div class="col-4"></div>
        <div class="col-4">
            <a href="#"><button class="btn btn-success">Xóa Gian Hàng</button></a>
            <a href="#"><button class="btn btn-success">Thêm giang hàng</button></a>
        </div>
    </div>
</div>