
<div class="container" style="margin-top: 10px;">
    <div class="row">
        <div class="col-4"></div>
        <div class="col-4"><h2>THÔNG TIN USER</div>
    </div>
    <div class="row">
        <div class="col-1"></div>
        <div class="clo-8">
            <table border="2">
                <tr>
                    <th style="width: 100px;"><b>Username</th>
                    <th style="width: 200px;"><b>Họ tên</b></th>
                    <th style="width: 150px;"><b>Ngày sinh</b></th>
                    <th style="width: 150px;"><b>Giới tính</b></th>
                    <th style="width: 150px;"><b>Điện thoại</b></th>
                    <th style="width: 150px;"><b>Địa chỉ</b></th>
                </tr>
                <tr>
                    <td>DAtran</td>
                    <td>Trần Anh Đức</td>
                    <td>03/08/1993</td>
                    <td>Nam</td>
                    <td>0123457239</td>
                    <td>TP.HCM</td>
                </tr>
                <tr>
                    <td>AvanNguyen</td>
                    <td>Nguyen Van A</td>
                    <td>05/10/1999</td>
                    <td>Nam</td>
                    <td>01774589231</td>
                    <td>Cà Mau</td>
                </tr>
                <tr>
                    <td>BuoiTran</td>
                    <td>Trần Thị Bưởi</td>
                    <td>23/12/2000</td>
                    <td>Nữ</td>
                    <td>0166467739</td>
                    <td>Cần Thơ</td>
                </tr>
                <tr>
                    <td>Thanhcong</td>
                    <td>Lê Thành Công</td>
                    <td>02/28/1993</td>
                    <td>Nam</td>
                    <td>0123457239</td>
                    <td>Kiên Giang</td>
                </tr>
                <tr>
                    <td>ThanhVan</td>
                    <td>Bá Văn Thanh</td>
                    <td>06/02/1998</td>
                    <td>Nam</td>
                    <td>0153429429</td>
                    <td>TP.HCM</td>
                </tr>
                <tr>
                    <td>AnhNGuyet</td>
                    <td>Trần Nguyễn Ánh Nguyệt</td>
                    <td>21/08/2001</td>
                    <td>Nữ</td>
                    <td>0123457239</td>
                    <td>Đà Lạt</td>
                </tr>
                <tr>
                    <td>DuyTan</td>
                    <td>Trần Nguyễn Duy Tân</td>
                    <td>30/3/1997</td>
                    <td>Nam</td>
                    <td>0199384039</td>
                    <td>TP.HCM</td>
                </tr>
                <tr>
                    <td>XA123</td>
                    <td>Trần Xuân Anh</td>
                    <td>03/08/1993</td>
                    <td>Nữ</td>
                    <td>0123457239</td>
                    <td>Hà Nội</td>
                </tr>
                <tr>
                    <td>NT</td>
                    <td>Trần Nhựt Thanh</td>
                    <td>03/08/1993</td>
                    <td>Nam</td>
                    <td>0123459039</td>
                    <td>Hải Phòng</td>
                </tr>
                <tr>
                    <td>LieuMai</td>
                    <td>Mai Thị Liễu</td>
                    <td>04/11/1999</td>
                    <td>Nữ</td>
                    <td>019736239</td>
                    <td>TP.HCM</td>
                </tr>
                <tr>
                    <td>TietLinh123</td>
                    <td>Đoàn Thị Tiết Linh</td>
                    <td>03/08/1993</td>
                    <td>Nữ</td>
                    <td>0123489739</td>
                    <td>Bến Tre</td>
                </tr>
            </table>
        </div>
    </div>
    <div class="row" style="margin-top: 30px;">
        <div class="col-4"></div>
        <div class="col-4">
            <a href="#"><button class="btn btn-success">Cập nhật thông tin người dùng</button></a>
        </div>
    </div>
</div>