
<div class="container" style="margin-top: 10px;">
    <div class="row">
        <div class="col-4"></div>
        <div class="col-4" align="center"><h2>SẢN PHẨM</div>
    </div>
    <div class="row">
        <div class="col-4"></div>
        <div class="clo-8">
            <table border="2" align="center">
                <tr>
                    <th style="width: 100px;"><b>IDSP</th>
                    <th style="width: 200px;"><b>Tên SP</b></th>
                    <th style="width: 150px;"><b>Giá bán</b></th>
                    <th></th>
                </tr>
                <tr>
                    <td>SP001</td>
                    <td>Nokia 1</td>
                    <td>200$</td>
                    <td><input type="checkbox"></td>
                </tr>
                <tr>
                    <td>SP002</td>
                    <td>Nokia 3</td>
                    <td>400$</td>
                    <td><input type="checkbox"></td>
                </tr>
                <tr>
                    <td>SP003</td>
                    <td>Nokia 5</td>
                    <td>500$</td>
                    <td><input type="checkbox"></td>
                </tr>
                <tr>
                    <td>SP004</td>
                    <td>Nokia 7</td>
                    <td>300$</td>
                    <td><input type="checkbox"></td>
                </tr>
                <tr>
                    <td>SP005</td>
                    <td>Nokia 4</td>
                    <td>300$</td>
                    <td><input type="checkbox"></td>
                </tr>
                <tr>
                    <td>SP006</td>
                    <td>Nokia 3</td>
                    <td>400$</td>
                    <td><input type="checkbox"></td>
                </tr>
                <tr>
                    <td>SP007</td>
                    <td>Nokia 1</td>
                    <td>200$</td>
                    <td><input type="checkbox"></td>
                </tr>
                <tr>
                    <td>SP008</td>
                    <td>Nokia 5</td>
                    <td>400$</td>
                    <td><input type="checkbox"></td>
                </tr>
            </table>
        </div>
    </div>
    <div class="row" style="margin-top: 30px;">
        <div class="col-5"></div>
        <div class="col-4">
            <a href="#"><button class="btn btn-success">Xóa sản phẩm</button></a>
            <a href="#"><button class="btn btn-success">Thêm sản phẩm</button></a>
        </div>
    </div>
</div>