<h2 align="center">THỐNG KÊ DOANH SỐ</h2>
<div class="container">
    <div class="row" style="margin-top: 20px;">
        <div class="col-1"></div>
        <div class="col-5">
            <a href="top10"><button class="btn btn-primary" style="width: 100%; height: 200px; font-size: 30px;">TOP 10</button></a>
        </div>
        <div class="col-5">
            <a href="dsNgay"><button class="btn btn-success" style="width: 100%; height: 200px; font-size: 30px;">Doanh số/ngày</button></a>
        </div>
    </div>
    <div class="row" style="margin-top: 20px;">
        <div class="col-1"></div>
        <div class="col-5">
            <a href="dsTuan"><button class="btn btn-warning" style="width: 100%; height: 200px; font-size: 30px;">Doanh số/Tuần</button></a>
        </div>
        <div class="col-5">
            <a href="dsThang"><button class="btn btn-danger" style="width: 100%; height: 200px; font-size: 30px;">Doanh số/Thánh</button></a>
        </div>
    </div>
    <div class="row" style="margin-top: 20px;">
        <div class="col-1"></div>
        <div class="col-5">
            <a href="dsQuy"><button class="btn btn-secondary" style="width: 100%; height: 200px; font-size: 30px;">Doanh số/Qúy</button></a>
        </div>
        <div class="col-5">
            <a href="dsNam"><button type="button" class="btn btn-dark" style="width: 100%; height: 200px; font-size: 30px;">Doanh số/Năm</button></a>
        </div>
    </div>
</div>