<div class="clear"> </div>
		    <div class="wrap">
		    <div class="content">
		    	<div class="about">
		    		<h4>About Us</h4>
		    		<div class="section group">
					<div class="col_1_of_3 span_1_of_3 about-frist">
						<h3>Bạn có biết?</h3>
						<h5>volutpat a enim. Vivamus blandit urna </h5>
						<p>Đã có nhiều tin đồn cho rằng, hãng điện thoại Samsung sẽ tung ra thị trường chiếc smartphone có thể gập lại được. Tuy nhiên, đây không phải là thiết bị duy nhất mang đến sự đổi mới mà họ đang nghiên cứu. Hãng công nghệ Hàn Quốc có thể còn đang phát triển một mẫu điện thoại trang bị màn hình ở cả 2 mặt.</p>
						<ul>
							<li><a href="#">Aenean nonummy hendrerit</a></li>
							<li><a href="#">consectetur adipisicing elit</a></li>
							<li><a href="#">tempor incididunt ut labore</a></li>
							<li><a href="#">Ut enim ad minim veniamt</a></li>
							<li><a href="#">Vivamus blandit urna</a></li>
							<li><a href="#">Lorem ipsum dolor sit amet</a></li>
							<li><a href="#">Ut enim ad minim veniam</a></li>
							<li><a href="#">Vivamus blandit urna</a></li>
							<li><a href="#">Lorem ipsum dolor sit amet</a></li>
							<li><a href="#">Ut enim ad minim veniam</a></li>
						</ul>
					</div>
					<div class="col_1_of_3 span_1_of_3 about-centre">
						<h3>Our Mission</h3>
						<a href="#"><img src="images/grid-img2.jpg"></a>
						<h5>Lorem ipsum dolor sit amet, consectetur adipisicing elitvolutpat a enim. Vivamus blandit urna </h5>
						<p>Điểm mới của Galaxy A8 là công nghệ bảo mật vân tay bằng thao tác “chạm” tại nút Home. Chip quét vân tay tân tiến được tích hợp trên máy sẽ hỗ trợ tăng cường độ bảo mật, đồng thời giúp việc truy cập sử dụng điện thoại trở nên nhanh chóng và tiện lợi hơn.</p>
					</div>
					<div class="col_1_of_3 span_1_of_3 quites">
						<h3>Testimonials</h3>
						<blockquote><p><img src="images/quotes_alt.png"> &nbsp;Cùng với khẩu độ, chế độ Real-time HDR giúp người dùng dễ dàng lưu được bức ảnh với chất ảnh sáng, sắc nét dù trong điều kiện ánh sáng yếu. Các tiện ích khác như selfie bằng cử chỉ hoặc hẹn giờ chụp cũng được cập nhật trong Galaxy A8 khiến việc selfie thuận tiện.</p></blockquote>
						<a href="#">- Lorem ipsum.<span>Usa</span></a><br /><br />
						<blockquote><p><img src="images/quotes_alt.png"> &nbsp;Nhằm giúp người dùng lưu lại những khoảnh khắc ấn tượng, Galaxy A8 được trang bị công nghệ chụp ảnh tối ưu. Camera trước 5MP và sau 16MP, khẩu độ f1.9 mang đến hình ảnh sinh động và chân thực từng chi tiết. Camera trước của Galaxy A8 càng ấn tượng hơn khi được hỗ trợ góc nhìn lên đến 103o, khung ảnh sẽ trở nên bao quát hơn, bắt trọn đầy đủ mọi khoảnh khắc thú vị nhất của nhóm bạn. </p></blockquote>
						<a href="#">- Lorem ipsum.<span>Usa</span></a>
					</div>
					<div class="clear"> </div>
					<div class="section group">
						<div class="cont span_2_of_3">
						       <h3>Mobile-store General Information</h3>
							   	<p>Điểm nhấn của Galaxy A8 là  được thiết kế thân kim loại nguyên khối chỉ mỏng 5.9mm - mỏng nhất trong dòng điện thoại Galaxy của Samsung. Độ mỏng lý tưởng này được chế tác tinh xảo bằng các đường cắt cạnh bóng bẩy khiến máy nhẹ nhàng và gọn gàng khi cầm trên tay. Bên cạnh đó, viền màn hình 2.5mm giúp tăng kích thước màn hình lên đến 5.7” cho phép người dùng dễ dàng thực hiện nhanh chóng các tác vụ như soạn thảo, kiểm tra thông tin văn bản hay thưởng thức những bộ phim với góc rộng và điểm ảnh rõ nét.</p>
								   </div>
						<div class="rsidebar span_1_of_3 about-frist">
						      <h3>Fresh-links</h3>
						      <ul>
								<li><a href="#">Aenean nonummy hendrerit</a></li>
								<li><a href="#">consectetur adipisicing elit</a></li>
								<li><a href="#">tempor incididunt ut labore</a></li>
								<li><a href="#">Ut enim ad minim veniamt</a></li>
								<li><a href="#">Vivamus blandit urna</a></li>
								<li><a href="#">Lorem ipsum dolor sit amet</a></li>
								<li><a href="#">Ut enim ad minim veniam</a></li>
								<li><a href="#">Vivamus blandit urna</a></li>
								<li><a href="#">Lorem ipsum dolor sit amet</a></li>
								<li><a href="#">Ut enim ad minim veniam</a></li>
							</ul>
						      
						</div>
		    </div>
				</div>
				
		    	</div>
		    	</div>
		    	
		    </div>
		    <div class="clear"> </div>