<div class="container"style="margin-top: 30px">
            <div class="row">
                <div class="col-3"></div>
                <div class="col-2" style="justify-content:center">
                    <img height="100" width="100" src="images/user.png" />
                    <label>TranNhutKha</label>
                </div>
                <div class="col-3">
                    <div style="margin-top:20px">UserName:</div> <input value="TranNhutKha" />
                    <div style="margin-top:20px">Name:</div> <input value="Trần Nhựt Kha" />
                    <div style="margin-top:20px">Email:</div> <input value="trannhutkha123456@gmail.com" />
                    <div style="margin-top:20px">NS:</div> <input value="21/04/1999"/>
                    <div style="margin-top:20px">SĐT:</div> <input value="0398977491" />
                    <div style="margin-top:20px">ĐC:</div> <input value="247/Khuông Việt/Tân Phú" />
                </div>
            </div>
            <div class="row" style="margin-top: 30px">
                <div class="col-3"></div>
                <div class="col-2"><button class="btn btn-success">Cập nhật thông tin</button></div>
                <div class="col-2"><a href="chancepass"><button class="btn btn-success">Đổi mật khẩu</button></a></div>
            </div>
            
        </div>