        <div class="container"style="margin-top: 30px">
            <div class="row">
                <div class="col-4"></div>
                <div class="col-2"><label>Email:</label></div>
                <div class="col-3"><input style="height:30px" /></div>
            </div>
            <div class="row" style="margin-top: 20px">
                <div class="col-4"></div>
                <div class="col-2"><label>Username:</label></div>
                <div class="col-3"><input style="height:30px"/></div>
            </div>

            <div class="row" style="margin-top: 20px">
                <div class="col-4"></div>
                <div class="col-2"><label>Password:</label></div>
                <div class="col-3"><input style="height:30px" type="password"/></div>
            </div>
            <div class="row" style="margin-top: 20px">
                <div class="col-4"></div>
                <div class="col-2"><label>Retype:</label></div>
                <div class="col-3"><input style="height:30px" type="password"/></div>
            </div>
            <div class="row" style="margin-top:30px">
                <div class="col-4"></div>
                <div class="col-1"><a href="login"><button class="btn btn-success">Register</button></a></div>
            </div>
        </div>